.backToArticles{
    text-align: left;
    justify-content:space-between ;
}
.underTitle{
    width: 100%;
    justify-content: space-between;
}
.posted{
    text-align: left;
}
.iconContainer{
    text-align: right;
}
.container-celebrities{
    padding-top: 2em;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: center;
}