.container{
    color: white;
    margin-top: 10%;
}
#id1{
    outline: 0;
color:white;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  min-width: 60px;
}
#id2{
    outline: 0;
color:white;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  min-width: 60px;
}
#id3{
    outline: 0;
color:white;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  min-width: 60px;
}
#id4{
    outline: 0;
color:white;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  min-width: 60px;
}
#id5{
    outline: 0;
color:white;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  min-width: 60px;
}
#id6{
    outline: 0;
color:white;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  min-width: 60px;
}
#id7{
    outline: 0;
color:white;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  min-width: 60px;
}
#id8{
    outline: 0;
color:white;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  min-width: 60px;
}
#id9{
    outline: 0;
color:white;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  min-width: 60px;
}
