.MuiInput-underline-24:hover:not(.MuiInput-disabled-23):not(.MuiInput-focused-22):not(.MuiInput-error-25):before {
  border-bottom: 2px solid rgb(255, 255, 255) !important;
}
.MuiInputBase-root {
  color: none;
}

body {
  background-color: rgb(34, 34, 34);
}
.hide {
  display: none;
}
.show {
  display: inline;
}
#name {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  max-width: 100px;
}
#age {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  max-width: 50px;
}
#color {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(224, 218, 218);
  margin-left: 10px;
}
#code {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(224, 218, 218);
  margin-left: 10px;
}
#size {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(224, 218, 218);
  margin-left: 10px;
}
#negara {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(224, 218, 218);
  margin-left: 10px;
}
#kota {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(224, 218, 218);
  margin-left: 10px;
}
#date {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(224, 218, 218);
  margin-left: 10px;
}
#budget {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(224, 218, 218);
  margin-left: 10px;
}
select option {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: rgb(121, 117, 117);
  color: rgb(224, 218, 218);
  margin-left: 10px;
}
#email {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  margin-left: 10px;
  max-width: 100px;
  max-width: 50%;
}
#phoneCode {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(224, 218, 218);
  margin-left: 10px;
  max-width: 50%;
}

#tel {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(197, 187, 187);
  max-width: 180px;
  margin-left: -40px;
  margin-bottom: 10px;
}
#submit {
  border: none;
  border-radius: 12px;
  color: rgb(197, 189, 189);
  width: 25%;
  background-color: rgb(73, 73, 73);
}
#prefB {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(224, 218, 218);
  margin-left: 10px;
}
#enter {
  color: rgb(0, 0, 0);
  width: 25%;
  background-color: rgb(255, 255, 255);
  padding-right: 5px;
  margin-right: 15px;
}
#cancel {
  color: rgb(245, 244, 244);
  width: 25%;
  background-color: rgb(27, 27, 27);
  padding-right: 5px;
  margin-right: 15px;
}
#file {
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(251, 251, 252);
  background-color: transparent;
  color: rgb(224, 218, 218);
  margin-left: 10px;
}
#pembatas {
  justify-content: space-between;
}
#utama {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  justify-content: center;
}
#barisPertama{
  display: inline-flex;

}
#barisKedua{
  display: inline-flex;
}
#barisKetiga{
  display: inline-flex;

}
#barisKeempat{
  display: inline-flex;

}
#barisKelima{
  display: inline-flex;

}
#barisKeenam{
  display: inline-flex;

}
#barisKetujuh{
  display: inline-flex;

}
#barisKedelapan{
  display: inline-flex;

}
#date{
  display: inline-flex;
}
#budget2{
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  justify-content: center;
}


