.MuiInput-underline-24:hover:not(.MuiInput-disabled-23):not(.MuiInput-focused-22):not(.MuiInput-error-25):before {
  border-bottom: 2px solid rgb(255, 255, 255) !important;
}
.MuiInputBase-root {
  color: none;
}

body {
  background-color: rgb(34, 34, 34);
}
.hide{
  display: none;
}
.show{
  display: inline;
}
.showConcierge{
  display: initial;
}