@import url("https://cdn.syncfusion.com/ej2/material.css");
/* .MuiInput-underline-24:hover:not(.MuiInput-disabled-23):not(.MuiInput-focused-22):not(.MuiInput-error-25):before {
  border-bottom: 2px solid rgb(255, 255, 255) !important;
} */
/* .MuiInputBase-root {
  color: white;
}
.MuiFormControl-root {
  width: 60px;
  padding: 5px;
}
.MuiGrid-item .MuiGrid-grid-xs-6 {
  padding-bottom: 10px;
} */
.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
  color: white;
  /* padding-left: 10px; */
  /* width: 90px; */
}
.MuiInput-underline {
  border-bottom: 2px solid #dddddd;
}
